body {
  font-weight: $font-weight-semibold;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  margin-top: 60px;

  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 124px);
    margin-top: 124px;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  all: unset;
  box-sizing: border-box;

  &:focus {
    color: $gray-900;
  }
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-weight: $font-weight-bolder;
  margin: 0;
}

a {
  line-height: 1.2;
  letter-spacing: 0.1em;
}

p {
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
}

picture {
  display: block;
}